{% extends 'base.html' %}
{% load static %}
    
{% block content %}
<h1 class="text-center text-success">Hero Bikes</h1>
{% for i in mylist2 %}
<div class="container" align="center">
<div class="gallery">
    <hr>
    <hr>
    <hr>
    <a target="_blank" href="{{i.3}}"><font color="#61EFEB">Bike Name:</font><b class="text-primary"><font color="gold">{{i.2}}</font></b><br>
      <img src="{{i.0}}" alt="not available" height="150" width="250" >
    </a><br>
          <i> <font color="#61EFEB">price:</font><b><font color="tomato">{{i.1}}</font></b> </i>
  </div>
</div>
{% endfor %}

{% endblock content  %}
